
*,
::after,
::before {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  /* color: var(--text); */
  /* background: var(--background-body); */
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  color: var(--text);
  background: var(--background-body);
}



/* // fixit better sizes (match tachyons) */
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: normal;
}

h6 {
  font-size: 1rem;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3,
h4,
b,
strong,
th {
  font-weight: 700;
}









hr {
  border: 2px solid var(--border);
}







code,
pre {
  overflow-x: auto;
  display: block;
}

pre>code {
  border: 0;
  display: block;
  overflow-x: auto;
}






#sidebar{
  padding: 1rem;
  width: 100%;
}


header{
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  border-bottom: 0.25rem solid #000;
  padding-bottom: 0.5rem;
}
header .logo{
  width: 3rem;
  margin-left: 0.25rem;
}
header .title{
  margin-left: 0.5rem;
  line-height: 125%;
}
header .title a span{
  display: block;
  font-size: 90%;
}
header .title a strong{
  font-size: 125%;
}


header a, nav a{
  color: #000;
  text-decoration: none;
}


nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul a{
  font-weight: bold;
}

nav li{
  margin-bottom: 0.25rem;
}


nav ul ul a{
  font-weight: normal;
}

nav a {
  display: block;
  padding: 0.25rem;
  font-size: 0.9rem;
}
nav a:hover{
  background: rgba(0, 0, 0, 0.025);
}

nav a.current {
  background: rgba(0, 0, 0, 0.1);
}

nav ul ul a{
  padding-left: 0.75rem;
  font-size: 0.8rem;
}



main{
  height: 100%;
  width: 100%;
  padding: 1rem;
  line-height: 1.5rem;
}







footer a{
  color: black;
  text-decoration: none;
}
footer a:hover{
  text-decoration: underline;
}





article{
  margin-bottom: 3rem;
}
article h2, article h3{
  /* fixit scrolltop padding instead? */
  padding-top: 1rem;
}
article h2{
  margin-bottom: 1rem;
  border-bottom: 0.25rem solid #000;
  padding-bottom: 1rem;
}

article ul li{
  margin-bottom: 0.5rem;
}

article pre {
  margin-bottom: 1rem;
}


footer{
  text-align: right;
  padding: 1rem 0;
}




pre>code {
  padding: 1.5rem;
  font-size: 90%;
}

.hljs-copy-wrapper .hljs-copy-button {
  transform: none;
  cursor: pointer;
}
























#home{
  height: 100%;
  position: relative;
  background: gainsboro;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#home h1{
  font-size: 2rem;
  margin-bottom: .5rem;
}
#home .subtitle{
  margin-bottom: 3rem;
  font-size: 0.85rem;
}

#home .download-button{
  margin-bottom: 1.5rem;
}
#home .download-button a{
  background: black;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
  border-radius: 0.25rem;
  padding: 0.85rem 1rem;
  box-sizing: border-box;
}

#home .source-link a{
  color: black;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

#home .source-link a svg{
  height: 1.15rem;
  display: inline-block;
  vertical-align: middle;
}

#home .source-link a span{
  font-size: 0.7rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
}










/* 		MEDIUM		*/
@media screen and (min-width: 48em) and (max-width: 64em){

}



/* 		NOT SMALL		*/
@media screen and (min-width: 48em){

  #sidebar{
    width: 20%;
    height: 100%;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
  }

  main {
    width: 80%;
    margin-left: 20%;
    padding: 1rem 1rem 1rem 0;
  }

  .columns {
    display: flex;
    margin: 0 -1rem;
  }

  .columns>div {
    width: 50%;
    margin: 0 1rem;
  }

  /* ALT columns */
  /* 
  .columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 2rem;
    margin-bottom: 3rem;
  } 
  */

  .w-50 {
    width: 50%;
  }

  #home h1{
    font-size: 3rem; 
    margin-bottom: 1.5rem;
  }

  #home .subtitle {
    font-size: 100%;
  }


}

